<form class="form-inline">
    <input class="form-control" name="searchInput" placeholder="Pesquisar Objeto" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 50%; left:100cm;">
    <button class="btn btn-outline-primary" (click)="searchText=''">X</button>
  </form>

  <table class="table table-sm">
      <ng-container *ngFor="let objeto of objectArray">
          <tr class="table-primary" *ngIf="filterCondition(objeto)">
    <tbody>
      <tr class = "ds-table-row">
        <td class ="metadataFieldLabel">
          <span class="bold">Título:</span>
        </td>
        <td class ="metadataFieldValue">
            {{objeto.title}}
        </td>
        </tr>
        <tr class = "ds-table-row">
            <td class ="metadataFieldLabel">
              <span class="bold">Autor:</span>
            </td>
            <td class ="metadataFieldValue">
                {{objeto.creator}}
            </td>
            </tr>
            <tr class = "ds-table-row">
                <td class ="metadataFieldLabel">
                  <span class="bold">Assunto:</span>
                </td>
                <td class ="metadataFieldValue">
                    {{objeto.subject}}
                </td>
                </tr>
                <tr class = "ds-table-row">
                    <td class ="metadataFieldLabel">
                      <span class="bold">Descrição:</span>
                    </td>
                    <td class ="metadataFieldValue">
                        {{objeto.description}}
                    </td>
                    </tr>
                    <tr class = "ds-table-row">
                        <td class ="metadataFieldLabel">
                          <span class="bold">Editor:</span>
                        </td>
                        <td class ="metadataFieldValue">
                            {{objeto.publisher}}
                        </td>
                        </tr>
                        <tr class = "ds-table-row">
                            <td class ="metadataFieldLabel">
                              <span class="bold">Colaborador:</span>
                            </td>
                            <td class ="metadataFieldValue">
                                {{objeto.contributor}}
                            </td>
                            </tr>
                            <tr class = "ds-table-row">
                                <td class ="metadataFieldLabel">
                                  <span class="bold">Data:</span>
                                </td>
                                <td class ="metadataFieldValue">
                                    {{objeto.date}}
                                </td>
                                </tr>
                                <tr class = "ds-table-row">
                                    <td class ="metadataFieldLabel">
                                      <span class="bold">Tipo:</span>
                                    </td>
                                    <td class ="metadataFieldValue">
                                        {{objeto.type}}
                                    </td>
                                    </tr>
                                    <tr class = "ds-table-row">
                                        <td class ="metadataFieldLabel">
                                          <span class="bold">Formato:</span>
                                        </td>
                                        <td class ="metadataFieldValue">
                                            {{objeto.format}}
                                        </td>
                                        </tr>
                                        <tr class = "ds-table-row">
                                            <td class ="metadataFieldLabel">
                                              <span class="bold">Identificador:</span>
                                            </td>
                                            <td class ="metadataFieldValue">
                                                {{objeto.identifier}}
                                            </td>
                                            </tr>
                                            <tr class = "ds-table-row">
                                                <td class ="metadataFieldLabel">
                                                  <span class="bold">Fonte:</span>
                                                </td>
                                                <td class ="metadataFieldValue">
                                                   <a href="{{objeto.source}}" target="_blank"> {{objeto.source}} </a>
                                                </td>
                                                </tr>
                                                <tr class = "ds-table-row">
                                                    <td class ="metadataFieldLabel">
                                                      <span class="bold">Idioma:</span>
                                                    </td>
                                                    <td class ="metadataFieldValue">
                                                        {{objeto.language}}
                                                    </td>
                                                    </tr>
                                                    <tr class = "ds-table-row">
                                                        <td class ="metadataFieldLabel">
                                                          <span class="bold">Relação:</span>
                                                        </td>
                                                        <td class ="metadataFieldValue">
                                                            {{objeto.relation}}
                                                        </td>
                                                        </tr>

                                                        <tr class = "ds-table-row">
                                                            <td class ="metadataFieldLabel">
                                                              <span class="bold">Abrangência:</span>
                                                            </td>
                                                            <td class ="metadataFieldValue">
                                                                {{objeto.coverage}}
                                                            </td>
                                                            </tr>
                                                            <tr class = "ds-table-row">
                                                                <td class ="metadataFieldLabel">
                                                                  <span class="bold">Direitos:</span>
                                                                </td>
                                                                <td class ="metadataFieldValue">
                                                                    {{objeto.rights}}
                                                                </td>
                                                              </tr>

    </tbody>
          <td>
            <button class="btn btn-outline-info" [routerLink]="['/formulario']" (click)="objectService.populateForm(objeto)">Edit</button>
            <button class="btn btn-outline-danger" (click)="onDelete(objeto.$key)">Delete</button>
            <button type="button" class="btn btn-info" [routerLink]="['/show-metadatos']" >Metadados</button>
          </td>
        </tr>
    </ng-container>
  </table>
  <div class="alert alert-danger" *ngIf="showDeletedMessage">
    Objeto Deletado.
  </div>
