<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a  class="navbar-brand"  href="#">Início</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">

      <li  routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/formulario']" class="nav-link" href="#">Colabore</a>
      </li>
      <li routerLinkActive="active"  class="nav-item">
        <a [routerLink]="['/search-objetos']" class="nav-link" href="#">Busca Avançada</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a [routerLink]="['/sobre']" class="nav-link">Sobre</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
