<div class = "container">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="this.objectService.form" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="$key">
          <div class="form-group">
            <label>Título</label>
            <input formControlName="title" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.title.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.title.errors">
              Campo Obrigatório.</div>
          </div>
          <div class="form-group">
            <label>Autor</label>
            <input formControlName="creator" class="form-control">
          </div>
          <div class="form-group">
            <label>Palavras-Chave</label>
            <input formControlName="subject" class="form-control">
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <textarea name="message" rows="5" class="form-control" formControlName="description" placeholder="Escreva uma breve descrição do documento"></textarea>
            <!--<input formControlName="description" class="form-control">-->
          </div>
          <div class="form-group">
            <label>Editor</label>
            <input formControlName="publisher" class="form-control">
          </div>
          <div class="form-group">
            <label>Colaborador</label>
            <input formControlName="contributor" class="form-control">
          </div>
          <div class="form-group">
            <label>Data</label>
            <input type="date" formControlName="date" class="form-control">
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <input formControlName="type" class="form-control">
          </div>
          <div class="form-group">
            <label>Formato</label>
            <input formControlName="format" class="form-control">
          </div>
          <div class="form-group">
            <label>Identificador</label>
            <input formControlName="identifier" class="form-control">
          </div>
          <div class="form-group">
            <label>Fonte</label>
            <input formControlName="source" class="form-control">
          </div>
          <div class="form-group">
            <label>Idioma</label>
            <input formControlName="language" class="form-control">
          </div>
          <div class="form-group">
            <label>Relação</label>
            <input formControlName="relation" class="form-control">
          </div>
          <div class="form-group">
            <label>Abrangência</label>
            <input formControlName="coverage" class="form-control">
          </div>
          <div class="form-group">
            <label>Direitos Autorais</label>
            <input formControlName="rights" class="form-control">
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-info" value="Cadastrar">
          </div>
        </form>
        <div class="alert alert-info"  *ngIf="showSuccessMessage">
          Cadastrado com Sucesso.
        </div>
      </div>

    </div>
    </div>

